@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="mt-5">
<h1>Información</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Matriculas</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Jearin Francis</td>
            <td>Alvarado</td>
            <td>2021-1477</td>
        </tr>
        <tr>
            <td>Ricardo</td>
            <td>Gratereaux Báez</td>
            <td>2021-0326</td>
        </tr>
        <tr>
            <td>Diego Jossel</td>
            <td>Vega Kelly</td>
            <td>2022-0587</td>
        </tr>
        <tr>
            <td>Luis Angel</td>
            <td>De La Cruz Castro</td>
            <td>2021-1031</td>
        </tr>
    </tbody>
</table>
</div>